  @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
  body {
    background-color: #81CCC4;
    font-family: 'Roboto', sans-serif;
    font-size: 150%;
    color: #203331;
    padding: 1% 25%;
  }
  input, button {
    background-color: #80754A;
    border: none;
    outline: none;
    display: flex;
    line-height: 1.5;
    font-family: 'Roboto', sans-serif;
    font-size: 100%;
  }