  @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
  body {
    background-color: #f8f7f7;
    font-family: 'Roboto', sans-serif;
    font-size: 150%;
    color: #383838;
    padding: 1% 25%;
  }
  input, button {
    background-color: #B8B8B8;
    border: none;
    outline: none;
    display: flex;
    line-height: 1.5;
    font-family: 'Roboto', sans-serif;
    font-size: 100%;
  }